
 <!-- Header-->
 <header class="bg-dark py-5">
    <div class="container px-4 px-lg-5 my-5">
        <div class="text-center text-white">
            <h1 class="display-4 fw-bolder">Shop in style</h1>
        </div>
    </div>
</header>

<div class="container py-5 px-4 px-lg-5 mt-5">
    <div id="homeProducts" class="row gx-4 gx-lg-5 row-cols-2 row-cols-md-3 row-cols-xl-4 justify-content-center">
        <!-- Products from backend will be rendered here -->
    </div>
</div>

<script src="./services/home-service.js"></script>

<script>
    // Initialize home products when this view is loaded
    if (typeof HomeService !== "undefined" && HomeService.init) {
        HomeService.init();
    }
</script>